#contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: #f5f5f5;
    overflow: hidden;
    z-index: 1;
    position: relative;
    max-height: calc(100vh - 90px - 90px - 10px);
}

.contact-form {
    flex: 1.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

.contact-info {
    flex: 0.5;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.contact-form label {
    font-weight: bold;
    font-size: 18px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#message {
    width: 500px;
}

.contact-form button[type="submit"] {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}
.contact-form button[type="submit"]:hover {
    background-color: red;
}
.contact-info p {
    margin-bottom: 5px;
    font-weight: bold;
}